.container {

  & input {
    border: 1px solid #48456c;
    border-radius: 30px;
    width: 100%;
    height: 40px;
    background-color: #363653;
    color: #fff;
    font-size: 16px;
    padding-left: 10px;
    outline: none;
  }

  & .error {
    margin: .2rem 0 0 .5rem;
    font-weight: bolder;
    font-size: .8em;
    color: #ff0000;
  }
}